*.pptx
.DS_Store
/Extras/Informe-Eficiencia.xlsx
/Ejercicios/*.docx
upload.sh
UD03.pdf
Soluciones/2021-2022
Soluciones/2022-2023
Soluciones/2023-2024
Soluciones/2024-2025
Ejemplos/2022-2023
Ejemplos/2023-2024
Ejemplos/2024-2025
/multimedia/
/docs/
/Ejercicios/